<mat-toolbar color="primary" class="toolbarContainer">
    <div class="flexALignItemsCenter">
        <mat-icon (click)="openSideNav()" style="cursor: pointer;">menu</mat-icon>
        <span>Person's CRUD</span>
    </div>

    <div class="flexALignItemsCenter">

        <button *ngIf="!(isAuthenticated$ | async)?.isAuthenticated" mat-raised-button color="accent"
            (click)="authService.login()">Login</button>

        <div class="navBarUserSection" *ngIf="(isAuthenticated$ | async)?.isAuthenticated">
            <span>Welcome {{ (user | async)?.username }}</span>
            <button mat-raised-button color="accent" (click)="authService.logOut()">Logout</button>
        </div>
    </div>
</mat-toolbar>