<h1 mat-dialog-title>Add new person</h1>
<div mat-dialog-content class="d-flex flex-column">

    <mat-form-field>
        <mat-label>Person's name</mat-label>
        <input matInput [formControl]="name">
        @if(name.invalid){
        <mat-error>{{getErrorMessage()}}</mat-error>
        }
    </mat-form-field>


    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email">
        @if(email.invalid){
        <mat-error>{{getErrorMessage()}}</mat-error>
        }
    </mat-form-field>


    <mat-form-field>
        <mat-label>Person's address</mat-label>
        <input matInput [formControl]="address">
    </mat-form-field>

</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onOk()">Ok</button>
</div>